@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
}

body {
  width: 100%;
}
body header {
  width: 100%;
  height: 70px;
  background-color: rgb(75, 225, 225);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
body header div .blue {
  color: blue;
}
body header div span {
  color: grey;
}
body .wrapper {
  width: 80%;
  outline: 1px solid;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
}
body .wrapper table {
  width: 100%;
}
body .wrapper table thead {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
}
body .wrapper table thead tr td {
  outline: 1px solid;
  font-weight: 600;
}
body .wrapper table .contactsTBody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

tr {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

td {
  width: 23%;
  height: 100%;
  outline: 1px dotted;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.addBtn {
  position: relative;
  top: -3px;
  left: 20px;
  border: none;
  width: 140px;
  height: 40px;
  background-color: lightgrey;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redactBtn,
.deleteBtn {
  border: none;
  width: 42%;
  height: 65%;
  background-color: rgb(175, 178, 155);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.redactBtn {
  background-color: rgb(217, 226, 166);
}

.modal,
.modalUpdate {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal .modalDialog,
.modal .modalUpdateDialog,
.modalUpdate .modalDialog,
.modalUpdate .modalUpdateDialog {
  max-width: 500px;
  margin: 40px auto;
}
.modal .modalDialog .modalContent,
.modal .modalDialog .modalUpdateContent,
.modal .modalUpdateDialog .modalContent,
.modal .modalUpdateDialog .modalUpdateContent,
.modalUpdate .modalDialog .modalContent,
.modalUpdate .modalDialog .modalUpdateContent,
.modalUpdate .modalUpdateDialog .modalContent,
.modalUpdate .modalUpdateDialog .modalUpdateContent {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal .modalDialog .modalContent .modalClose,
.modal .modalDialog .modalContent .modalUpdateClose,
.modal .modalDialog .modalUpdateContent .modalClose,
.modal .modalDialog .modalUpdateContent .modalUpdateClose,
.modal .modalUpdateDialog .modalContent .modalClose,
.modal .modalUpdateDialog .modalContent .modalUpdateClose,
.modal .modalUpdateDialog .modalUpdateContent .modalClose,
.modal .modalUpdateDialog .modalUpdateContent .modalUpdateClose,
.modalUpdate .modalDialog .modalContent .modalClose,
.modalUpdate .modalDialog .modalContent .modalUpdateClose,
.modalUpdate .modalDialog .modalUpdateContent .modalClose,
.modalUpdate .modalDialog .modalUpdateContent .modalUpdateClose,
.modalUpdate .modalUpdateDialog .modalContent .modalClose,
.modalUpdate .modalUpdateDialog .modalContent .modalUpdateClose,
.modalUpdate .modalUpdateDialog .modalUpdateContent .modalClose,
.modalUpdate .modalUpdateDialog .modalUpdateContent .modalUpdateClose {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal .modalDialog .modalContent form,
.modal .modalDialog .modalUpdateContent form,
.modal .modalUpdateDialog .modalContent form,
.modal .modalUpdateDialog .modalUpdateContent form,
.modalUpdate .modalDialog .modalContent form,
.modalUpdate .modalDialog .modalUpdateContent form,
.modalUpdate .modalUpdateDialog .modalContent form,
.modalUpdate .modalUpdateDialog .modalUpdateContent form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.modal .modalDialog .modalContent form input,
.modal .modalDialog .modalUpdateContent form input,
.modal .modalUpdateDialog .modalContent form input,
.modal .modalUpdateDialog .modalUpdateContent form input,
.modalUpdate .modalDialog .modalContent form input,
.modalUpdate .modalDialog .modalUpdateContent form input,
.modalUpdate .modalUpdateDialog .modalContent form input,
.modalUpdate .modalUpdateDialog .modalUpdateContent form input {
  width: 80%;
  height: 30px;
  padding: 3px 2px 3px 5px;
  border: none;
  border-radius: 4px;
  outline: 1px solid;
}
.modal .modalDialog .modalContent form button,
.modal .modalDialog .modalUpdateContent form button,
.modal .modalUpdateDialog .modalContent form button,
.modal .modalUpdateDialog .modalUpdateContent form button,
.modalUpdate .modalDialog .modalContent form button,
.modalUpdate .modalDialog .modalUpdateContent form button,
.modalUpdate .modalUpdateDialog .modalContent form button,
.modalUpdate .modalUpdateDialog .modalUpdateContent form button {
  max-width: 250px;
  height: 40px;
  background-color: rgb(114, 216, 113);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 8px;
}

.modalUpdate {
  display: block;
}