@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Dosis', sans-serif
    font-family: 'Montserrat', sans-serif
    text-decoration: none
    color: #000

body
    width: 100%
    header
        width: 100%
        height: 70px
        background-color: rgb(75, 225, 225)
        display: flex
        justify-content: space-around
        align-items: center
        font-weight: 600
        div
            .blue
                color: blue
            span
                color: grey
    .wrapper 
        width: 80%
        outline: 1px solid
        margin: 20px auto
        padding: 10px
        border-radius: 8px
        table
            width: 100%
            thead
                position: relative
                top: 0
                width: 100%
                height: 50px
                tr
                    td
                        outline: 1px solid
                        font-weight: 600
            .contactsTBody
                width: 100%
                display: flex
                flex-direction: column
                justify-content: space-evenly
                align-items: center
tr
    width: 100%
    height: 55px
    display: flex
    justify-content: space-evenly
    align-items: center
    margin-top: 3px
td
    width: 23%
    height: 100%
    outline: 1px dotted
    display: flex
    justify-content: center
    align-items: center
    border-radius: 5px
.addBtn
    position: relative
    top: -3px
    left: 20px
    border: none
    width: 140px
    height: 40px
    background-color: lightgrey
    border-radius: 8px
    font-weight: 600
    cursor: pointer
.controls
    display: flex
    justify-content: space-evenly
    align-items: center
.redactBtn,
.deleteBtn
    border: none
    width: 42%
    height: 65%
    background-color: rgb(175, 178, 155)
    border-radius: 8px
    font-weight: 600
    cursor: pointer
.redactBtn
    background-color: rgb(217, 226, 166)

.modal,
.modalUpdate
    position: fixed
    top: 0
    left: 0
    z-index: 1050
    display: none
    width: 100%
    height: 100%
    overflow: hidden
    background-color: rgba(0, 0, 0, 0.5)
    .modalDialog,
    .modalUpdateDialog
        max-width: 500px
        margin: 40px auto
        .modalContent,
        .modalUpdateContent
            position: relative
            width: 100%
            padding: 40px
            background-color: #fff
            border: 1px solid rgba(0, 0, 0, 0.2)
            border-radius: 4px
            max-height: 80vh
            overflow-y: auto
            .modalClose,
            .modalUpdateClose
                position: absolute
                top: 8px
                right: 14px
                font-size: 30px
                color: #000
                opacity: 0.5
                font-weight: 700
                border: none
                background-color: transparent
                cursor: pointer
            form
                display: flex
                flex-direction: column
                justify-content: space-evenly
                align-items: center
                gap: 15px
                input
                    width: 80%
                    height: 30px
                    padding: 3px 2px 3px 5px
                    border: none
                    border-radius: 4px
                    outline: 1px solid
                button
                    max-width: 250px
                    height: 40px
                    background-color: rgb(114, 216, 113)
                    border: none
                    border-radius: 8px
                    font-weight: 600
                    cursor: pointer
                    padding: 0 8px

.modalUpdate
    display: block